@keyframes expandPoint {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}


@keyframes collapsePoint {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(0);
  }
}

@keyframes flip {
  0% {
      transform: rotateY(0deg);
  }
  100% {
      transform: rotateY(180deg);
  }
}

.flip {
  animation: flip 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.round-button {
    text-align: center;
    /* width: 149px;
    height: 149px; */
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.8;
  }

.round-button-sm {
  text-align: center;
  /* width: 149px;
  height: 149px; */
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
}

.pos-br {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

.pos-tr {
    position: absolute;
    top: 5rem;
    right: 1rem;
  }

.pos-tl {
  position: absolute;
  top: 5rem;
  left: 1rem;
}

.pos-bl {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.expandPoint {
    animation: expandPoint 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.collapsePoint {
    animation: collapsePoint 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

