.round-button {
    text-align: center;
    /* width: 149px;
    height: 149px; */
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.8;
  }

.pos-br {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

.pos-tr {
    position: absolute;
    top: 5rem;
    right: 1rem;
  }