@media (min-width: 1200px) {
    .side-panel {
        width: 0px;
        height: 100%;
        flex-grow: 1;
    }
}

@media (max-width: 1200px) {
    .side-panel {
        overflow: auto;
        width: 100%;
        height: 200px;
        flex-grow: 0;
    }
}