/************************************************************/
.list-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.list-container {
    overflow: auto;
    /* margin: auto; */
    /* width: 6%; */
    max-width: 900px;
    height: 85%;
    /* display: flex; */
}

.todo-check > .form-check-input {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 30%;
}

.todo-completed .todo-check > .form-check-input {
    /* width: 1.4rem;
    height: 1.4rem; */
    border-radius: 30%;
    filter: brightness(150%);
}

.todo-completed {
    filter: brightness(70%);
}

.todo-completed .form-text {
    text-decoration: line-through;
}

.todo-light {
    filter: brightness(150%);
}

.form-text a:link { 
    text-decoration: none; 
}